{% extends "layout.html" %}
{% block default_content %}
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Reviews Analysis</h3>
        </div>
        <ul class="list-unstyled components">
            <form id="required_form" action="/submit" method="post">
                <p>User Input</p>
                <li>
                    <small>Start date</small>
                    <input type="date" name="Dep_Time" value="2017-01-01" id="Dep_Time" required="required">
                </li>
                <li>
                    <small>End date</small>
                    <input type="date" name="Arrival_Time" id="Arrival_Time" required="required">
                </li>
                <li>
                    <input size="17" name="app_id" type="text" placeholder="Apple Store ID" required="required">
                </li>
                <li>
                    <input size="17" name="play_store_id" type="text" placeholder="Play Store ID" required="required">
                </li>
                <li>
                    <input size="17" name="country_code" type="text" placeholder="Country Code" required="required">
                </li>
                <li>
                    <button id="submit_1" type="submit" value="Submit" class="myButton">Submit</button>
                </li>
                <script type="text/javascript">
                    $('#required_form').submit(function () {
                        $("#submit_1", this)
                            .html("Please Wait...")
                            .attr('disabled', 'disabled');
                        return true;
                    });
                </script>
            </form>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">OS
                    Type:</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Apple</a>
                    </li>
                    <li>
                        <a href="#">Android</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>

        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="#" class="download">Download the analysis as pdf</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about') }}">About us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            <h2>{{ appinfo|safe }}</h2>
        </div>

        <!-- Graph Content -->
        <!-- plotly plot -->
        {% for plot in plots %}
        <div class="chart" id="bargraph{{ loop.index + 2 }}">
            <script>
                var graphs = {{ plot | safe}};
                Plotly.plot('bargraph{{ loop.index + 2 }}', graphs, {});
            </script>
        </div>
        <br>
        {% endfor %}
        {% block loading %}{% endblock loading %}
        {% block landing %}{% endblock landing %}
    </div>
</div>
</div>


{% endblock default_content %}